<!DOCTYPE html>
<html>

<head>
    <title>auxilium</title>
    <meta charset="utf-8" />

    <link href="../static/css/bootstrap-grid.css" rel="stylesheet">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj*lyTjo7mOUStjsKC4p0pQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../static/js/jquery-1.11.0.js"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/index.js"></script>

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/">
                    <img src="../static/img/aux logo.png" id="logo" />
                </a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/organizations" class="btn btn-danger">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <i class="fa fa-building" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="grid text-center w-100">
            <div class="row">
                <div class="col col-md-1"></div>
                <div class="col col-md-11">
                    <div class="container d-flex d-inline-block justify-content-center align-items-center">
                        <h1 class="top-lines">This is auxilium.</h1>
                        <img src="../static/img/ear.svg" id="ear-padding" />
                    </div>
                </div>
            </div>
            <div class="row" id="row-up">
                <div class="col col-md-12">
                    <h2>A new way to get help</h2>
                    <h4 id="phone-number">Just text (626) 317-6089</h4>
                </div>
            </div>
            <div class="row" id="bottom">
                <div class="col col-md-3"></div>
                <div class="col col-md-2">
                    <div class="container">
                        <img src="../static/img/question.svg" id="question-mark" />
                        <h3>You ask</h3>
                        <hr class="background-gradient" />
                        <div class="text-left">
                            <p>Use auxilium to streamline the search for resources you need.</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-2">
                    <div class="container">
                        <img src="../static/img/speech-bubble.svg" id="speech-bubble" />
                        <h3>We talk</h3>
                        <hr class="background-gradient" />
                        <div class="text-left">
                            <p>Find everything you need for your everyday, at a glance.</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-2">
                    <div class="container">
                        <img src="../static/img/lightbulb.svg" id="lightbulb" />
                        <h3>We improve</h3>
                        <hr class="background-gradient" />
                        <div class="text-left">
                            <p>We’ll adjust according to you, the people.</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3"></div>
            </div>

            <div class="row" id="chevron">
                <div class="col col-lg-12">
                    <button type="button" class="btn btn custom-chevron" > <i class="fa fa-chevron-down fa-5x"></i> </button>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid h-100 w-100 d-flex justify-content-center align-items-center" id="about">
        <div class="row">
            <div class="col col-md-2"></div>
            <div class="col col-md-8">
                <h2>What's auxilium?</h2>
                <br />
                <div id="about-desc">
                    auxilium sources local and international organizations to provide relevant services in:
                    <ul id="services-list">
                        <li>Food</li>
                        <li>Hygiene</li>
                        <li>Shelter</li>
                    </ul>
                    to the homeless based in Los Angeles.
                </div>
            </div>
        </div>
    </div>

</body>

</html>