<!DOCTYPE html>
<html>

<head>
    <title>Loading</title>
    <meta charset="utf-8" />
    <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
    <link href="/static/css/bootstrap-grid.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/loading.css" rel="stylesheet">
    <script src="/static/js/bootstrap.bundle.js"></script>
</head>

<body>
    <div class="container-fluid h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="grid">
            <div class="row text-center">
                <div class="col col-lg-12">
                    <img src="/static/img/aux logo.png" />
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-12">
                    <img src="/static/img/google load.gif" />
                </div>
            </div>
        </div>
    </div>
</body>

</html>
