<!DOCTYPE html>
<html>

<head>
    <title>Organizations</title>
    <meta charset="utf-8" />

    <link href="../static/css/bootstrap-grid.css" rel="stylesheet">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/organization.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../static/js/jquery-1.11.0.js"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/organizations.js"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/">
                    <img src="../static/img/aux logo.png" id="logo" />
                </a>
            </li>
        </ul>
    </nav>

    <body>
        <div class="container-fluid h-100 w-100 d-flex justify-content-center align-items-center">
            <div class="grid w-100">
                <div class="row text-center">
                    <div class="col col-md-12">
                        <h1 id="register-padding">Register your Organization</h1>
                    </div>
                </div>
                <div class="row">
                    <form class="container w-50">
                        <div class="form-group">
                            <input type="text" class="form-control w-100" id="org-name" placeholder="Organization Name">
                            <label class="form-check-label" id="type-label">Type of Organization:</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="food-check" value="option1">
                                <label class="form-check-label" for="food-check">Food</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="hygiene-check" value="option3">
                                <label class="form-check-label" for="hygiene-check">Hygiene</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="shelter-check" value="option2">
                                <label class="form-check-label" for="shelter-check">Shelter</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control w-100" id="address" placeholder="1234 Main St">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control w-100" id="phone-number" placeholder="1234567890">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control w-100" id="website"
                                placeholder="https://www.example.com">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-dark w-50" id="submit-btn" data-toggle="modal" data-target="#confirmation-modal">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Thank you for adding your organization!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</body>

</html>